.product-container {
    background-color: rgb(244, 246, 247);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.product-container:hover{
    background-color: rgb(231, 247, 248);
    transition-duration: 0.5s;
}

.product-container img {
    width: 100%;
    max-height: 250px;
    object-fit: fit;
}

.product-infos {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.product-infos h3, .product-infos h4, .product-infos p  {
    margin: 5px 0;
}

.product-infos h4 {
    background-color: rgb(238, 235, 230);
    border-radius: 3px;
    padding: 3px 5px;
}

.product-price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding: 5px 10px;
}

.action-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}